.porqueElegirnos {
  width: 100vw;
  padding: 2rem 10%;
  h4 {
    font-family: $ff-poppins;
    font-weight: 600;
    font-size: $fs-mdg;
    color: $verde-oscuro;
    margin-bottom: 1rem;
  }
  p {
    font-family: $ff-inter;
    font-size: $fs-md;
    color: $verde-oscuro;
    margin-bottom: 1rem;
    line-height: 2;
  }
  .porqueElegirnos__slider {
    .awssld__content {
      background-color: transparent;
    }
    .awssld__wrapper {
      height: 300px;
    }
    .awssld__timer {
      opacity: 0;
      pointer-events: none; 
    }
  }
  div {
    display: flex;
    justify-content: center;
    img {
      background-color: #d9d9d9;
      width: 272px;
      height: 260px;
      border-radius: $br-10;
    }
  }
}

@media (min-width: 768px) {
  .porqueElegirnos {
    padding: 5rem 10%;
    h4 {
      font-size: $fs-xxl;
      margin-bottom: 2.5rem;
    }
    p {
      font-size: $fs-xl;
      margin-bottom: 3rem;
      line-height: 2;
    }
    div {
      img {
        width: 366px;
        height: 350px;
      }
    }
  }
}
