.porqueElegirnos{
    width: 100vw;
    padding: 5rem 10%;
    h4{
        font-family: $ff-poppins;
        font-weight: 600;
        font-size: $fs-xxl;
        color: $verde-oscuro;
        margin-bottom: 2.5rem;
    }
    p{  
        width: 65%;
        font-family: $ff-inter;
        font-size: $fs-md;
        color: $verde-oscuro;
        margin-bottom: 3rem;
        line-height: 2;
    }
    div{
        display: flex;
        justify-content: space-between;
        img{
            background-color: #D9D9D9;
            width: 330px;
            height: 310px;
            border-radius: $br-20;
        }
    }
}