.boton {
  background-color: $verde-claro;
  border-radius: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 0rem auto;
  .boton--imagen {
    height: 20px;
    margin-right: 1rem;
    color: $blanco;
  }
  .boton--texto {
    font-family: $ff-poppins;
    color: $blanco;
    font-size: $fs-md;
    font-weight: 600;
    margin: 0;
    line-height: normal;
  }
}

@media (min-width: 768px) {
  .boton {
    padding: 0.5rem 1rem;

    .boton--imagen {
      height: 30px;
      margin-right: 1rem;
      color: $blanco;
    }
    .boton--texto {
      font-size: $fs-mdg;
    }
  }
}
