.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: $footer-fondo;
  .coquere {
    width: max-content;
    height: 39%;
    margin-top: 2rem;
    margin-left: 1rem;
    h2 {
      color: $footer-derechos;
      font-weight: bold;
      font-family: $ff-poppins;
      font-size: $fs-md;
    }

    div {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      a {
        color: black;
        margin-bottom: 0.5rem;
        font-family: $ff-inter;
        font-size: $fs-sm;
        font-weight: 600;
      }
    }
  }
  .nuestrasInstalaciones {
    width: max-content;
    height: 39%;
    margin-top: 2rem;
    margin-left: 1rem;
    h2 {
      color: $footer-derechos;
      font-weight: bold;
      font-family: $ff-poppins;
      font-size: $fs-md;
    }
    div {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      p {
        margin-bottom: 0.5rem;
        font-family: $ff-inter;
        font-size: $fs-sm;
        font-weight: 600;
      }
    }
  }
  .contacto {
    width: max-content;
    height: 39%;
    margin-top: 2rem;
    margin-left: 1rem;
    h2 {
      color: $footer-derechos;
      font-weight: bold;
      font-family: $ff-poppins;
      font-size: $fs-md;
    }
    div {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      p {
        margin-bottom: 0.5rem;
        font-family: $ff-inter;
        font-size: $fs-sm;
        font-weight: 600;
      }
    }
  }
  .redesSociales {
    width: max-content;
    height: 39%;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 7vw;
    .redesInLine {
      display: flex;
      flex-direction: row;
      margin-right: 1rem;
      margin-top: 1rem;
      img {
        margin-right: 1rem;
        width: 5vw;
        height: 5vw;
        border-radius: 2rem;
      }
    }
    h2 {
      color: $footer-derechos;
      font-weight: bold;
      font-family: $ff-poppins;
      font-size: $fs-md;
    }
    div {
      display: flex;
      flex-direction: column;
      a {
        color: black;
        font-family: $ff-inter;
        font-size: $fs-sm;
        font-weight: 600;
      }
    }
    .logo {
      margin-left: auto;
      margin-right: auto;
      order: -1;
      img {
        width: 35vw;
        height: 35vw;
        margin-top: 10.5vw;
      }
    }
  }

  .derechos {
    height: 3rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    h2 {
      color: $footer-derechos;
      font-weight: bold;
      font-family: $ff-poppins;
      font-size: $fs-sm;
    }
    p {
      color: $footer-derechos;
      font-weight: bold;
      font-family: $ff-poppins;
      font-size: $fs-sm;
    }
  }
}

@media (min-width: 768px) {
<<<<<<< HEAD
  .footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: $footer-fondo;
    .coquere {
      width: max-content;
      height: 39%;
      margin-top: 2rem;
      margin-left: 1rem;
      h2 {
        color: $footer-derechos;
        font-weight: bold;
        font-family: $ff-poppins;
        font-size: $fs-md;
      }

      div {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        a {
          color: black;
          margin-bottom: 0.5rem;
          font-family: $ff-inter;
          font-size: $fs-sm;
          font-weight: 600;
=======
    .footer{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto 1px auto;
        justify-content: space-evenly;
        width: 100vw;
        height: max-content;
        background-color: $footer-fondo;

        .coquere{
            margin-top: 5rem;
            grid-column: 1;
            grid-row: 1;
            width: max-content;
            height: 39%;
            margin-top: 2rem;
            h2 {
                color: $footer-derechos;
                font-weight: bold;
                font-family: $ff-poppins;
                font-size: $fs-mdg;
            }

            div {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;

                a {
                    color: black;
                    margin-bottom: 0.5rem;
                    font-family: $ff-inter;
                    font-size: $fs-sm;
                }
            }
        }

        .nuestrasInstalaciones{
            margin-top: 5rem;
            grid-column: 1;
            grid-row: 2;
            width: max-content;
            height: 39%;
            h2 {
                color: $footer-derechos;
                font-weight: bold;
                font-family: $ff-poppins;
                font-size: $fs-mdg;
            }
            div {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                p {
                    margin-bottom: 0.5rem;
                    font-family: $ff-inter;
                    font-size: $fs-sm;
                }
            }
        }

        .contacto{
            margin-top: 5rem;
            grid-column: 3;
            grid-row: 1;
            width: 24vw;
            height: 39%;
            margin-top: 2rem;
            h2 {
                color: $footer-derechos;
                font-weight: bold;
                font-family: $ff-poppins;
                font-size: $fs-mdg;
            }
            div {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                p {
                    margin-bottom: 0.5rem;
                    font-family: $ff-inter;
                    font-size: $fs-sm;
                }
            }
        }

        .redesSociales{
            margin-top: 5rem;
            grid-column: 3;
            grid-row: 2;
            width: 24vw;
            height: 39%;
            h2 {
                color: $footer-derechos;
                font-weight: bold;
                font-family: $ff-poppins;
                font-size: $fs-mdg;
            }
            div {
                margin-top: 0.2rem;

                a {
                    color: black;
                    font-family: $ff-inter;
                    font-size: $fs-sm;
                }
            }
            .redesInLine {
              img {
                width: 3vw;
                height: 3vw;
              }
            }
        }

        .logo{
            margin-top: 4rem;
            grid-column: 2;
            grid-row: span 2;
            img{
                width: 16vw;
                height: 16vw;
                margin-top: 10.5vw;

            }
        }

        hr {
            grid-column: span 3;
            grid-row: 3;
            height: 1px;
        }

        .derechos{
            grid-column: span 3;
            grid-row: 4;
            height: 3rem;
            margin-left: auto;
            margin-right: auto;
            width: max-content;
            display: flex;
            flex-direction: row;
            h2 {
                color: $footer-derechos;
                font-weight: bold;
                font-family: $ff-poppins;
                font-size: $fs-md;
            }
            p {
              color: $footer-derechos;
              font-weight: bold;
              font-family: $ff-poppins;
              font-size: $fs-md;
            }
>>>>>>> 74a11fd86fe1531f50522a2b83cc23a3f8b74a91
        }
      }
    }
    .nuestrasInstalaciones {
      width: max-content;
      height: 39%;
      margin-top: 2rem;
      margin-left: 1rem;
      h2 {
        color: $footer-derechos;
        font-weight: bold;
        font-family: $ff-poppins;
        font-size: $fs-md;
      }
      div {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        p {
          margin-bottom: 0.5rem;
          font-family: $ff-inter;
          font-size: $fs-sm;
          font-weight: 600;
        }
      }
    }
    .contacto {
      width: max-content;
      height: 39%;
      margin-top: 2rem;
      margin-left: 1rem;
      h2 {
        color: $footer-derechos;
        font-weight: bold;
        font-family: $ff-poppins;
        font-size: $fs-md;
      }
      div {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        p {
          margin-bottom: 0.5rem;
          font-family: $ff-inter;
          font-size: $fs-sm;
          font-weight: 600;
        }
      }
    }
    .redesSociales {
      width: max-content;
      height: 39%;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-bottom: 7vw;
      .redesInLine {
        display: flex;
        flex-direction: row;
        margin-right: 1rem;
        margin-top: 1rem;
        img {
          margin-right: 1rem;
          width: 5vw;
          height: 5vw;
          border-radius: 2rem;
        }
      }
      h2 {
        color: $footer-derechos;
        font-weight: bold;
        font-family: $ff-poppins;
        font-size: $fs-md;
      }
      div {
        display: flex;
        flex-direction: column;
        a {
          color: black;
          font-family: $ff-inter;
          font-size: $fs-sm;
          font-weight: 600;
        }
      }
      .logo {
        margin-left: auto;
        margin-right: auto;
        order: -1;
        img {
          width: 35vw;
          height: 35vw;
          margin-top: 10.5vw;
        }
      }
    }

    .derechos {
      height: 3rem;
      margin-top: 0.5rem;
      margin-left: auto;
      margin-right: auto;
      h2 {
        color: $footer-derechos;
        font-weight: bold;
        font-family: $ff-poppins;
        font-size: $fs-sm;
      }
    }
  }
}


@media (min-width: 1200px) {
  .footer{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto 1px auto;
      justify-content: space-evenly;
      width: 100vw;
      height: max-content;
      background-color: $footer-fondo;

      .coquere{
          margin-top: 5rem;
          grid-column: 1;
          grid-row: 1;
          width: max-content;
          height: 39%;
          margin-top: 2rem;
          h2 {
              margin-top: 5rem;
              color: $footer-derechos;
              font-weight: bold;
              font-family: $ff-poppins;
              font-size: $fs-mdg;
          }

          div {
              display: flex;
              flex-direction: column;
              margin-top: 1rem;

              a {
                  color: black;
                  margin-bottom: 0.5rem;
                  font-family: $ff-inter;
                  font-size: $fs-sm;
              }
          }
      }

      .nuestrasInstalaciones{
          margin-top: 5rem;
          grid-column: 1;
          grid-row: 2;
          width: max-content;
          height: 39%;
          h2 {
              margin-top: 5rem;
              color: $footer-derechos;
              font-weight: bold;
              font-family: $ff-poppins;
              font-size: $fs-mdg;
          }
          div {
              display: flex;
              flex-direction: column;
              margin-top: 1rem;
              p {
                  margin-bottom: 0.5rem;
                  font-family: $ff-inter;
                  font-size: $fs-sm;
              }
          }
      }

      .contacto{
          margin-left: 2vw;
          margin-top: 5rem;
          grid-column: 3;
          grid-row: 1;
          width: 24vw;
          height: 39%;
          margin-top: 2rem;
          h2 {
              margin-top: 5rem;
              color: $footer-derechos;
              font-weight: bold;
              font-family: $ff-poppins;
              font-size: $fs-mdg;
          }
          div {
              display: flex;
              flex-direction: column;
              margin-top: 1rem;
              p {
                  margin-bottom: 0.5rem;
                  font-family: $ff-inter;
                  font-size: $fs-sm;
              }
          }
      }

      .redesSociales{
          margin-left: 2vw;
          margin-top: 5rem;
          grid-column: 3;
          grid-row: 2;
          width: 24vw;
          height: 39%;
          h2 {
              margin-top: 5rem;
              color: $footer-derechos;
              font-weight: bold;
              font-family: $ff-poppins;
              font-size: $fs-mdg;
          }
          div {
              margin-top: 0.2rem;

              a {
                  color: black;
                  font-family: $ff-inter;
                  font-size: $fs-sm;
              }
          }
          .redesInLine {
            img {
              width: 2vw;
              height: 2vw;
            }
          }
      }

      .logo{
          grid-column: 2;
          grid-row: span 2;
          img{
              //margin-bottom: 15rem;
              width: 16vw;
              height: 16vw;
              margin-top: 10.5vw;

          }
      }

      hr {
          grid-column: span 3;
          grid-row: 3;
          height: 1px;
      }

      .derechos{
          grid-column: span 3;
          grid-row: 4;
          height: 3rem;
          margin-left: auto;
          margin-right: auto;
          width: max-content;
          display: flex;
          flex-direction: row;
          h2 {
              color: $footer-derechos;
              font-weight: bold;
              font-family: $ff-poppins;
              font-size: $fs-md;
          }
          p {
            color: $footer-derechos;
            font-weight: bold;
            font-family: $ff-poppins;
            font-size: $fs-md;
          }
      }
  }
}
