header {
  z-index: 4;
  width: 100vw;
  background-color: $verde-claro;
  height:9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  .brand {
    height: 32px;
  }
  .menuIcon{
    height: 24px;
  }
}

@media (min-width: 1200px) {
  header {
    height: 110px;
    padding: 0 90px;
    .brand {
        height: 60px;
      }
  }
}
    