.historiaCoquere {
    
    
    h2 {
        margin-left: 5vw;
        margin-top: 5vw;
        font-family: $ff-poppins;
        font-size: $fs-md;
    }

    p {
        margin-left: 4vw;
        margin-top: 2vw;
        font-family: $ff-inter;
        font-size: $fs-sm;
    }
}