.historiaCoquere {
    
    
    h2 {
        margin-left: 5vw;
        margin-top: 5vw;
        font-family: $ff-poppins;
        font-size: $fs-md;
    }

    p {
        margin-left: 4vw;
        margin-top: 3vw;
        font-family: $ff-inter;
        font-size: $fs-sm;
    }
}

.historiaCoquereImg {
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 25rem;
    background-color: grey;
}