.empresarialContenido {
  width: 100vw;
  padding: 2rem 5%;
  p {
    font-family: $ff-inter;
    font-size: $fs-md;
    margin-bottom: 1.5rem;
  }
  .imgEmpresarial {
    width: 100%;
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  .empresarialContenido {
    p {
      font-size: $fs-mdg;
    }
  }
}
