* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: #111111;
}
//custom-scrollbar
::-webkit-scrollbar{
  width: 15px;
  background-color: #111111;
}
::-webkit-scrollbar-thumb{
  background-color: #536c7875;
  &:hover{
    background-color: #536c78e7;
  }
}
@supports (scrollbar-color: #536c78e7 #111111){
  *{
    scrollbar-color: #536c78e7 #111111
  }
}