//Variables

/* Fuentes */
$ff-poppins: 'Poppins', sans-serif;
$ff-inter: 'Inter', sans-serif;

/* Colores */
$blanco: #FFFDFD;
$verde-claro: #78A23A;
$verde-oscuro: #082E1F;
$gris: #9CA1A2;
$turquesa-claro: #9FCAC8;
$turquesa-oscuro: #004D5D;

/* Tamaños de fuente */
$fs-xs: 0.4rem;
$fs-sm: 0.8rem;
$fs-md: 1rem;
$fs-lg: 1.4rem;
$fs-xl: 1.6rem;
$fs-xxl: 2rem;

/* Grosor de fuente */
$fw-light: 300;
$fw-reg: 400;
$fw-bold: 700;

/* Esquinas redondeadas */
$br-10: 10px;
$br-10-top: 10px 10px 0 0;
$br-10-bottom:0 0 10px 10px;
$br-20: 20px;

/* Sombreado de cajas */
$bs-light: 3 3px 3px hsla(0, 0%, 0%, 0.25);


