.chefs {
  width: 100vw;
  padding: 1rem 5%;
  h4 {
    font-family: $ff-poppins;
    font-weight: 600;
    font-size: $fs-mdg;
    color: $verde-oscuro;
    margin-bottom: 1rem;
  }
  p {
    font-family: $ff-inter;
    font-size: $fs-md;
  }
  .chefs__slider {
    .awssld__content {
      background-color: transparent;
    }
    .awssld__wrapper {
      height: 350px;
    }
    .awssld__timer {
      opacity: 0;
      pointer-events: none;
    }
  }
}
