.alumnosCard {
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  img {
    height: 40%;
    margin-bottom: 1rem;
  }
  .alumnosCard__frase {
    width: 85%;
    height: 45%;
    text-align: center;
    font-family: $ff-inter;
    font-size: $fs-sm;
    font-weight: 600;
    font-style: italic;
    line-height: 2;
  }
  .alumnosCard__descripcion {
    height: 35%;
    text-align: center;
    font-family: $ff-inter;
    font-size: $fs-md;
    color: $footer-derechos;
    line-height: 2;
  }
}

@media (min-width: 768px) {
  .alumnosCard {
    img {
      width: 180px;
    }
    .alumnosCard__frase {
      font-size: $fs-mdg;
    }
    .alumnosCard__descripcion {
      font-size: $fs-mdg;
    }
  }
}
