.alumnosCard {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  img {
    width:40%;
  }
  .alumnosCard__frase {
    width: 70%;
    text-align: center;
    font-family: $ff-inter;
    font-size: $fs-md;
    font-weight: 600;
    font-style: italic;
    line-height: 2;
  }
  .alumnosCard__descripcion {
    text-align: center;
    font-family: $ff-inter;
    font-size: $fs-md;
    color: $footer-derechos;
    line-height: 2;
  }
}
