.diplomadosTexto {
  width: 100vw;
  padding: 2rem 5%;
  p {
    font-family: $ff-inter;
    font-size: $fs-md;
  }
}

@media (min-width: 768px) {
  .diplomadosTexto {
    p {
      font-size: $fs-mdg;
    }
  }
}
